# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller & Build artifacts (do not commit large binaries to git)
build/
dist/
output/
*.spec

# Virtual Environments
venv/
.venv/
env/

# IDE files
.vscode/
.idea/
